{% extends "base.html" %}

{% block title %}О нас{% endblock %}

{% block content %}
     <div class="text-container">
        <h2>О нас</h2>
        <p>
            На гитарах Baton Rouge играет следующее поколение гитаристов по всему миру. Наша продукция, основанная на принципах инноваций, качества и доступности, предлагает доступные и необычные впечатления от игры на акустической гитаре или укулеле в любом стиле.
        </p>
         <div class="horizontal-containers">
            <div class="container">
                <p>Компания Baton Rouge была основана в 1999 году, когда наш основатель и генеральный директор Гюнтер понял, что трудно найти качественные гитары по доступной цене. Он отправился в путь, полный упорного труда и решимости, чтобы создать бренд, основанный на убеждении, что качественные и доступные гитары должны быть доступны каждому.</p>
            </div>
            <div class="container">
                <p>Сегодня на гитарах Baton Rouge играют более чем в 40 странах мира. Наши гитары особенно популярны среди любителей перебирать пальцами, а также их можно увидеть у костра, на сцене или в классе.</p>
            </div>
        </div>
    </div>
{% endblock %}