{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="content">
        <div class="container black-background"></div>
        <div class="container white-background"></div>
        <img class="overlay-image" src="/static/images/BR-human.jpg" alt="Фоновая картинка">
        <div class="overlay-text">Мы стремимся к дизайну, качеству, ответственности и упорному труду, чтобы создавать доступные гитары для любого человека и в любом месте.</div>
    </div>
{% endblock %}
